 

	<div class="clear"></div>
	<!-- End .clear -->
<div class="content-box">
  <!-- Start Content Box -->
  <div class="content-box-header">
    <h3>介绍文案列表</h3>
    <ul class="content-box-tabs">
        <li><a href="#tab1" class="default-tab">Table</a></li>
        <!-- href must be unique and match the id of target div -->
       
    </ul>
    <div class="clear"></div>
  </div>
  <!-- End .content-box-header -->
  <div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">          
     
    </div>
    <!-- End #tab1 -->
    
  </div>
  <!-- End .content-box-content -->
</div>
<!-- End .content-box -->
<script>
	var curtabpage=1;
    $(function(){
     
		var url='index.php?m=admin&c=about&a=gettab&curpage=<?=$curpage;?>';
		gettab(url);
    });	

    function gettab(url){
		
       $.ajax({
			url:url,
			type:'get',
			success:function(msg){
				$("#tab1").html(msg);
			},


      });
    }		
		
		function editOne(idstr,pagestr){
			//window.location="<?= $GLOBALS['currController'].'&a=edit&curpage='.$curpage;?>&id="+idstr;
			window.location="<?= $GLOBALS['currController'];?>"+"&a=edit&curpage="+pagestr+"&id="+idstr;
    }
    
    
		
</script>