    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
           
             <p>
                <label>图片</label>
                <ul class="productimages">
                    <?php
                        $thumbarr=explode('|',$row['value']);
                        $i=0;
                         foreach($thumbarr as $v){
                          if(!empty($v)){
                    ?>
                          <li>
                            <img src="<?=$v; ?>" />
                            <div><img class="delete" src='<?=RES;?>images/icons/fancy_close.png' /></div>
                            <input type='hidden' name='uploadedimages[]' value="<?=$i; ?>" />
                          </li>

                    <?php                 
                          $i++;
                        } }
                    ?>

                </ul>
            </p>
             <p>
              <label>添加图片</label>
              <input type="file" name="images[]"  multiple="multiple"/>
              
            </p>
            <ul class="uploadimages"> </ul>
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>
	    $("input[type='file']").change(function(){ 
	    	 $(".uploadimages").children().remove();
	    	 var j=0;
	    	for(var i=0;i<this.files.length;i++){
	    		var file = this.files[i]; 
	    		if (window.FileReader) {    
		            var reader = new FileReader();    
		            reader.readAsDataURL(file);		            
		            reader.onloadend = function (e) {
		           		 
			            var str="<li><img src='"+e.target.result+"' /><div><img  class='delete'  src='<?=RES;?>images/icons/fancy_close.png' /></div><input type='hidden' name='checkimages[]' value='"+j+"' /></li>";
			            $(".uploadimages").append(str);
			            j++;
		            
		            };
		
		       	}
	    	}
		  
		  
		});
		
		
		$(document).on('click',".delete",function(){
			$(this).parent().parent().remove();		
		});		
	</script>
	    