 <table>
        <thead>
          <tr>
           
            <th>位置</th>
            <th>图片</th>             
             <th>操作</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="6">
              <div class="bulk-actions align-left"> </div>              
              <div class="clear"></div>
            </td>
          </tr>
        </tfoot>
        <tbody>
        <?php foreach($data as $k=>$v): ?>
          <tr>
           
            <td><?=$k ?></td>
            <td> 
              <?php 
                if(!empty($v)){

                  $imgarr=explode('|',$v);
                  foreach($imgarr as $v1){
                    echo "<img src='$v1' alt='...' style='width:150px;'>";
                  }
                }
              ?>
            
            </td>
           
            <td>              
              <a href="javascript:;"  onclick="editOne('<?=$k?>')" title="编辑">
              <img src="resources/images/icons/pencil.png" alt="Edit" /></a> 
                      
            </td>
          </tr>
         <?php endforeach; ?>
        </tbody>
      </table>