    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>         
           
            <p>
              <label>电话</label>
              <input class="text-input medium-input" type="text"  name="tel" value="<?=$tel?>" />
            </p>
             <p>
              <label>邮箱</label>
              <input class="text-input medium-input" type="text"  name="mail" value="<?=$mail?>" />
             
            </p>
            <p>
              <label>联系人</label>
              <input class="text-input medium-input" type="text"  name="contact" value="<?=$contact?>" />
            </p>
             <p>
              <label>地址</label>
              <input class="text-input medium-input" type="text"  name="addr" value="<?=$addr?>" />
            </p>
            
            <p>**配置找回密码发送邮件的发件箱**</p>
            <p>
                <label>发件箱帐号</label>
                <input class="text-input medium-input" type="text"  name="outbox" value="<?=$outbox?>" />
              </p>
              <p>
                  <label>授权密码</label>
                  <input class="text-input medium-input" type="password"  name="outboxpwd" value="<?=$outboxpwd?>" />
                </p>
            <p>
              <input class="button" type="submit" value="提交" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
   