    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>         
           
            <p>
              <label>原始密码</label>
              <input class="text-input medium-input" type="password" id="large-input" name="pwd" datatype="*8-15" nullmsg="原始密码不能为空" />
            </p>
             <p>
              <label>新密码</label>
              <input class="text-input medium-input" type="password" id="large-input" name="password" datatype="*8-15" nullmsg="密码不能为空" plugin="passwordStrength" />
              <div class="passwordStrength">密码强度： <span>弱</span><span>中</span><span class="last">强</span></div>
            </p>
              <p>
              <label>确认新密码</label>
              <input class="text-input medium-input" type="password" id="large-input" name="repassword" datatype="*8-15" nullmsg="密码不能为空" recheck="password" />
            </p>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>	   
			
		$("#tab2 form").Validform({
      tiptype:3,
       usePlugin:{
          passwordstrength:{
            minLen:8,
            maxLen:15
          }
		  }
    });
	 
	</script>
	    