    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
           
            <p>
              <label>用户名</label>
              <input class="text-input medium-input datepicker" type="text"  
                        name="username" value="<?=$row['username'];?>"  datatype="*3-20" nullmsg="用户名不能为空"
                          ajaxurl="<?=$GLOBALS['currController'].'&a=ckusername&id='.$row['id'];?>" />
             </p>
            <p>
              <label>呢称：</label>
              <input class="text-input medium-input " type="text"  name="nk" value="<?=$row['nk'];?>" 
                        datatype="*1-20" nullmsg="呢称不能为空"  />
            </p>    
            <p>
              <label>邮箱</label>
              <input class="text-input medium-input" type="text" id="large-input" name="mail"
                      datatype="e" nullmsg="邮箱不能为空" value="<?=$row['mail'];?>" ajaxurl="<?=$GLOBALS['currController'].'&a=ckmail&id='.$row['id'];?>" />
            </p>
           
            <p>
              <label>权限</label>
              <input type="checkbox" class="checkall" />全选            
            </p>
             <div class="level">
              <?php
                $mylevel=json_decode($row['level']);
 
                foreach($levelarr as $k=>$v){
                  $i=strpos($k,'_');
                  $id=substr($k,0,$i);
                  $k=substr($k,$i+1);
                  if(in_array($id,$mylevel)){
                      echo "<p><label><input type='checkbox' name='level[]' value='$id' checked='checked' />$k</label>";
                  }else{
                        echo "<p><label><input type='checkbox' name='level[]' value='$id' />$k</label>";
                  }
                
                  foreach($v as $v1){
                      if(in_array($v1['id'],$mylevel)){
                           echo "<input  type='checkbox' name='level[]' value='".$v1['id']."' checked='checked' />".$v1['name'];
                      }else{
                           echo "<input  type='checkbox' name='level[]' value='".$v1['id']."' />".$v1['name'];
                      }
                     
                  }                
                  echo "</p>";
                }
              
              ?>
                
             </div>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>	   
	

		$("#tab2 form").Validform({
      tiptype:4,
       usePlugin:{
          passwordstrength:{
            minLen:8,
            maxLen:15
          }
		  }
    });
	 

    $(".checkall").click(function(){
      var status=$(this).is(":checked");
      $(".level input").prop("checked",status);
   });

   $(".level label input").click(function(){
        var status=$(this).is(":checked");
        $(this).parent().siblings("input").prop("checked",status);
        checkall()
   });

    $(".level p>input").click(function(){
        
         var status=$(this).is(":checked");
         if(status){
           
           $(this).siblings("label").children("input").prop("checked",true);

         }else{
           
            if($(this).siblings("input:checked").length==0){
                 $(this).siblings("label").children("input").prop("checked",false);
            }

         }

         checkall()
    });

    function checkall(){
        var input=$(".level input").length;
        var checkedinput=$(".level input:checked").length;

        if(input==checkedinput){
           $(".checkall").prop("checked",true);
        }else{
          $(".checkall").prop("checked",false);
        }

    }

   
     checkall();

	</script>
	    