<div class="banner">
	<img src="<?=$banner?>"  /> 
</div>


<div class="contactus">
	<div class="subnav">
        <div class="title">
		<span></span>
		<h2>联系我们</h2>
		<h3>CONTACT US</h3>
        </div>
		<p>公司电话：<?=$tel?></p>
		<h4>公司联系人：<?=$contact?></h4>
		<h5>公司邮箱：<?=$mail?></h5>
		<h6>公司地址：<?=$addr?></h6>
		
	</div>
    <div id="map"></div>    
    <div class="msg">
        <form action="" method="post" >
            <table border="1">
                <tr >
                    <td >您的姓名 : </td><td><input type="text" name="name"/>
                    您的电话 : <input type="text" name="tel" />您的邮箱 : <input type="text" name="email"/></td>
                </tr>
                
                <tr >
                    <td valign="top" class="message">请留言 ： </td><td ><textarea name="message"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td ><span>验证码 </span><input type="text" class="code" name="vcode" /> 
                        <img src="index.php?m=admin&c=login&a=getvcode" /><span style="color:red"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td >
                        <input class="submit"  value="点击提交" type="button" onclick="addmsg()" />
                        <input class="reset" value="重置" type="reset"/>
                    </td>
                    
                </tr>
            </table>
        </form>   
    </div>
    
    </div>

    <script>

  $(".msg input[name='vcode']").blur(function(){
     
      checkcode();


  });

  $(".msg td img").click(function(){

      $(this).attr('src','index.php?m=admin&c=login&a=getvcode&pp='+Math.random());

  });

  

  function checkcode(){
    
    var codestr=$(".msg input[name='vcode']").val();
    var i=0;
     $.ajax({
        url:'index.php?m=admin&c=login&a=getvcode',
        type:'post',
        data:{vcode:codestr},
        async:false,
        success:function(msg){
          i=msg;

        }


     });

     if(i==0){
       $("input[name='vcode']").siblings('span').eq(1).text('验证码不正确');
     }else{
        $("input[name='vcode']").siblings('span').eq(1).text('');
     }

     return i;

  }
function addmsg(){
    
    if(checkcode()==0){
        return false;
    }
    var $name=$("input[name='name']").val();
    var $tel=$("input[name='tel']").val();
    var $email=$("input[name='email']").val();
    var $message=$("textarea").val();


    $name=$.trim($name);
    $tel=$.trim($tel);
    $email=$.trim($email);
    $message=$.trim($message);
    if($name==''||$message==''){
        alert("您的名字或者留言内容不能为空");
         return false;
    }

    if($email==''&&$tel==''){
        alert("电话号码或者邮箱请至少输入一项，我司日后好联系您");
         return false;
    }
    $.ajax({
        url:'index.php?m=site&c=index&a=index',
        type:'post',
        data:{name:$name,tel:$tel,email:$email,message:$message},
        async:false,
        success:function(msg){
            alert(msg);
            $("input[name='name']").val('');
             $("input[name='tel']").val('');
            $("input[name='email']").val('');
            $("input[name='vcode']").val('');
            $("textarea").val('');
        }
    });    
    return false;
  }
</script>