@charset "utf-8";
/* CSS Document */



.banner{ width:1920px; height:500px;left:50%; margin-left:-245px  }

.pro-center{ width:1200px;  margin:0 auto; padding-bottom:30px;}
.subnav{ width:1200px; height:113px; background:#e5e5e5}
.title{ float:left; width:345px; height:110px;  background:url(../images/3-news_03.jpg)}
.subnav h2{ font-size:18px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:30px; margin-left:-60px}
.subnav h3{font-size:14px; font-family:"微软雅黑"; color:#f5f8fa; font-weight:400; float:left; margin-top:56px; margin-left:-79px}

.title span{ width:34px; height:19px; border-bottom:solid 1px #FFFFFF; margin-left:163px; float:left; display:block;}
.subnav ul{  height:40px; float:left; list-style:none; margin:0; margin-top:38px; margin-left:30px}
.subnav li{ float:left }
.subnav a{ text-decoration:none; color:#333333; margin-left:56px; margin-right:56px;  width:66px; height:59px; font-size:16px; text-align:center; display:block; font-weight:700}
.subnav a:hover{border-bottom:solid #327ca3 1px; color:#327ca3}
.subnav a.current{border-bottom:solid #327ca3 1px;}
.subnav a.current{color:#327ca3}


.pro-center h3{text-align: center;margin-top:30px;}
.pro-center img{  margin-left:226px; margin-top:20px}
.product{ list-style:none; width:1216px; margin-left:-16px;  margin-top:26px; padding:0; height:354px; margin-bottom:35px}


#big{ width:753px; height:984px;}
.product li{ float:left; margin-left:15px; width:289px; height:354px; margin-bottom:25px; position:relative;}
.product img{ margin:0}
.product a{ text-decoration:none; width:289px; height:354px;}
.product li a span{ width:289px; height:42px; text-align:center;display:block; bottom:0; background:#3bc8f6; font-family:"微软雅黑"; font-size:20px; position:absolute; -khtml-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);filter:"alpha(opacity=0)";opacity:0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

.product li span{display:block;width:289px;height:42px;text-align:center;position:absolute;left:0;bottom:0;z-index:-1;}
.product li span a{ position:relative; display:block; width:289px; height:42px; font-weight:normal; color:#294f76;-khtml-opacity:1;-moz-opacity:1;filter:alpha(opacity=100);filter:"alpha(opacity=100)";opacity:1; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
.product li:hover a span{-khtml-opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);filter:"alpha(opacity=60)";opacity:0.6; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);z-index:2;}
.product li:hover span{z-index:3;}
.product li:hover span a{margin-top:8px; font-family:"微软雅黑"; font-size:18px; z-index:4;}




.product p{ float:left; width:289px; background:#9ed1e2; margin:0; color:#294f76; height:42px; text-align:center; line-height:42px; margin-top:312px; font-size:18px; font-family:"微软雅黑"; opacity:0}
.product li:hover p{background:#9ed1e2;; opacity:0.8; color:#294f76}
.content{ width:1171px;  background:#c9c9cb;  margin:0 auto; clear:both; margin-top:28px;padding-bottom:35px}
.content h4{ font-size:14px; font-family:"微软雅黑"; color:#333333; margin-top:36px; margin-left:14px; font-weight:600; padding-top:36px; }
.content h3{ font-size:12px; color:#333333;  font-weight:400;  margin-left:43px; padding-top:28px; padding-bottom:12px}


.content p{ font-size:12px; color:#333333; margin-bottom:12px; margin-left:66px; display:block;}
