<div class="footer">

<p>copyright   广州润木服装有限公司 </p>

</div>

</body>
</html>
<script type="text/javascript" src="<?=RES;?>js/banner.js"></script>
<script type="text/javascript" src="<?=RES;?>js/map.js"></script>
<script type="text/javascript" src="<?=RES;?>js/ban.js"></script>