 
<div class="content-box">
  <!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Welcome!</h3>
    
    <div class="clear"></div>
  </div>
  <!-- End .content-box-header -->
  <div class="content-box-content">
    <div class="tab-content default-tab" id="tab1"> 
        <p>欢迎您访问润木服饰有限公司网站后台！</p>        
        <img src="<?=RES.'images/index.jpg' ?>" alt"loading..." />
    </div>
    <!-- End #tab1 -->
    
  </div>
  <!-- End .content-box-content -->
</div>
<!-- End .content-box -->
