
<div class="banner">
<img src="<?=$banner?>"  /> 
</div>
<div class="newscenter">
    <div class="subnav">
        <div class="title">
        <span></span>
        <h2>公司介绍</h2>
        <h3>About</h3>
        </div> 
        <ul>
            <?php
                $href="{$GLOBALS['url']}&currcate=";
                foreach($category as $k=>$v){
                    if($v['id']==$currcate){
                    
                        echo "<li><a class='current' href='{$href}{$v['id']}'>{$v['name']}</a></li>";
                    }else{
                        echo "<li><a  href='{$href}{$v['id']}'>{$v['name']}</a></li>";
                    }
                }
            ?>
      
        </ul>
    </div>

   <?=$content?>

</div>
