    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>内容</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
			 <p><?=$row['name']?>在<?=date('Y-m-d',$row['time'])?>留言：</p>
				<hr>
			 <p><?=$row['message']?></p>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>
	    $("input[type='file']").change(function(){ 
	    	 $(".uploadimages").children().remove();
	    	 var j=0;
	    	for(var i=0;i<this.files.length;i++){
	    		var file = this.files[i]; 
	    		if (window.FileReader) {    
		            var reader = new FileReader();    
		            reader.readAsDataURL(file);		            
		            reader.onloadend = function (e) {
		           		  //e.target.result就是最后的路径地址
			            var str="<li><img src='"+e.target.result+"' /><div><img  class='delete'  src='<?=RES;?>images/icons/fancy_close.png' /></div><input type='hidden' name='checkimages[]' value='"+j+"' /></li>";
			            $(".uploadimages").append(str);
			            j++;
		            
		            };
		
		       	}
	    	}
		  
		  
		});
		
		
		$(".delete").on('click',function(){
			$(this).parent().parent().remove();
			
			
		});
			
		
		
	</script>
	    