    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
           
            <li><a href="#tab2"  class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>    
            <p>
              <label>类别</label>
              <select name='category'>
                <?php 
                  foreach($category as $k=>$v){
                    if($v['id']==$row['category']){
                        echo '<option value="'.$v['id'].'" selected="selected">'.$v['name']."</option>";
                    }else{
                        echo '<option value="'.$v['id'].'">'.$v['name']."</option>";
                    }
                  }
                
                ?>
              </select>
            </p>  
            <p>
              <label>标题</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="title" value="<?=$row['title'];?>" />
             </p>  
            <p>
              <label>作者</label>
              <input class="text-input medium-input" type="text" id="large-input" name="author" value="<?=$row['author'];?>"/>
            </p>
           
            <p>
              <label>内容</label>
              <script id="editor" name="content" type="text/plain" style="width:960px;height:500px;"><?=$row['content'];?></script>
            </p>
             <p>
                <label>新闻图片</label>
                <ul class="productimages">
                    <?php
                        $thumbarr=explode('|',$row['image']);
                        $i=0;
                         foreach($thumbarr as $v){
                    ?>
                          <li>
                            <img src="<?=$v; ?>" />
                            <div><img class="delete" src='<?=RES;?>images/icons/fancy_close.png' /></div>
                            <input type='hidden' name='uploadedimages[]' value="<?=$i; ?>" />
                          </li>

                    <?php                 
                          $i++;
                         }
                    ?>

                </ul>
            </p>
             <p>
              <label>添加图片</label>
              <input type="file" name="images[]"  multiple="multiple"/>
              
            </p>
            <ul class="uploadimages"> </ul>
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
     <script>
	    $("input[type='file']").change(function(){ 
	    	 $(".uploadimages").children().remove();
	    	 var j=0;
	    	for(var i=0;i<this.files.length;i++){
	    		var file = this.files[i]; 
	    		if (window.FileReader) {    
		            var reader = new FileReader();    
		            reader.readAsDataURL(file);		            
		            reader.onloadend = function (e) {
		           		  //e.target.result就是最后的路径地址
			            var str="<li><img src='"+e.target.result+"' /><div><img  class='delete'  src='<?=RES;?>images/icons/fancy_close.png' /></div><input type='hidden' name='checkimages[]' value='"+j+"' /></li>";
			            $(".uploadimages").append(str);
			            j++;
		            
		            };
		
		       	}
	    	}
		  
		  
		});
		
		
		$(".delete").on('click',function(){
			$(this).parent().parent().remove();
			
			
		});
			
		
		
	</script>
	    